.weather-time {
   color: white;
   font-size: 1.5rem;
   display: block;
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
}

.weather-subtime {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
}

.am-pm,
.seconds {
   font-size: 0.65rem;
   margin: 0 0 0 0.2rem;
   display: block;
}

@media only screen and (min-width: 768px) {
   .weather-time {
      font-size: 2rem;
   }

   .am-pm,
   .seconds {
      font-size: 0.9rem;
      display: block;
   }
}
