@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Slab:wght@600&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Hubballi', 'Roboto Slab', sans-serif, Arial;
}

.App {
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
